[user]
	name = Oliver Lohmann
	email = oliver@lohmann.io

[init]
	defaultBranch = main

[diff]
	tool = nvimdiff

[difftool]
	prompt = false

[merge]
	tool = nvimdiff

[mergetool]
	prompt = false

[credential "https://github.com"]
	helper = 
  {{ if eq .chezmoi.os "linux" -}}
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
  {{ end -}}
  {{ if eq .chezmoi.os "darwin" -}}
	helper = !/opt/homebrew/bin/gh auth git-credential
  {{ end -}}

[credential "https://gist.github.com"]
	helper = 
  {{ if eq .chezmoi.os "linux" -}}
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
  {{ end -}}
  {{ if eq .chezmoi.os "darwin" -}}
	helper = !/opt/homebrew/bin/gh auth git-credential
  {{ end -}}

