# Ensure MacOS treats config in a sane way (and consistent with Linux)
export XDG_CONFIG_HOME="$HOME/.config"

{{ if eq .chezmoi.os "darwin" }}
# GoCC Config MacOS (solves nasty treesitter issues when compiling plugins)
export CC=/opt/homebrew/bin/gcc-14
export CXX=/opt/homebrew/bin/g++-14

# Golang Config 
export PATH="/opt/homebrew/bin:$PATH"
export GOROOT="/opt/homebrew/opt/go/libexec"
export GOPATH=$HOME/go
export PATH=$PATH:$GOROOT/bin:$GOPATH/bin
{{ end }}

# If you come from bash you might have to change your $PATH.
export PATH=$HOME/.tmux/plugins/tmuxifier/bin:$HOME/.local/bin:$HOME/bin:/usr/local/bin:$PATH

# Init brew
{{ if eq .chezmoi.os "darwin" }}eval "$(/opt/homebrew/bin/brew shellenv)"{{ end }}
{{ if eq .chezmoi.os "linux" }}eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"{{ end }}

alias l='ls -lah --color'
alias ll='ls -lah --color'
alias k='kubectl'

export EDITOR='nvim'
alias v='nvim'
alias vi='nvim'
alias vim='nvim'
alias lg='lazygit'

# Python
export PYENV_ROOT="$HOME/.pyenv"
command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"

# ZPlugs
export ZPLUG_HOME=$(brew --prefix)/opt/zplug
source $ZPLUG_HOME/init.zsh


# NVM
export NVM_DIR="$HOME/.nvm"
[ -s "$(brew --prefix)/opt/nvm/nvm.sh" ] && \. "$(brew --prefix)/opt/nvm/nvm.sh"  # This loads nvm
[ -s "$(brew --prefix)/opt/nvm/etc/bash_completion.d/nvm" ] && \. "$(brew --prefix)/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion

# Hombrew Java
export PATH="$(brew --prefix)/opt/homebrew/opt/openjdk/bin:$PATH"

# Configure zsh-vi-mode to properly initialize fzf after loading
function zvm_after_init() {
  source <(fzf --zsh)
}

source $(brew --prefix)/opt/zsh-vi-mode/share/zsh-vi-mode/zsh-vi-mode.plugin.zsh
source $(brew --prefix)/opt/spaceship/spaceship.zsh

# Init tmuxifier (added to path on top)
export TMUXIFIER_LAYOUT_PATH="$HOME/.config/tmuxifier_layouts"
eval "$(tmuxifier init -)"

# ---- FZF -----
# -- Use fd instead of find in fzf --

export FZF_DEFAULT_COMMAND="fd --hidden --strip-cwd-prefix --exclude .git"
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_ALT_C_COMMAND="fd --type=d --hidden --strip-cwd-prefix --exclude .git"

# Use fd (https://github.com/sharkdp/fd) for listing path candidates.
# - The first argument to the function ($1) is the base path to start traversal
# - See the source code (completion.{bash,zsh}) for the details.
_fzf_compgen_path() {
  fd --hidden --exclude .git . "$1"
}

# Use fd to generate the list for directory completion
_fzf_compgen_dir() {
  fd --type=d --hidden --exclude .git . "$1"
}

# -- Use fzf.git in fzf --
source ~/fzf-git.sh/fzf-git.sh

# -- fzf Catpucchin Mocha --
export FZF_DEFAULT_OPTS=" \
--color=bg+:#313244,bg:#1e1e2e,spinner:#f5e0dc,hl:#f38ba8 \
--color=fg:#cdd6f4,header:#f38ba8,info:#cba6f7,pointer:#f5e0dc \
--color=marker:#f5e0dc,fg+:#cdd6f4,prompt:#cba6f7,hl+:#f38ba8"

# ---- Eza (better ls) -----
alias ls="eza --color=always --long --git --no-filesize --icons=always --no-time --no-user --no-permissions"

# ---- Zoxide (better cd) ----
eval "$(zoxide init zsh)"
alias cd="z"

# Yazi config to support CWD rename
function yy() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")"
	yazi "$@" --cwd-file="$tmp"
	if cwd="$(cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
		cd -- "$cwd"
	fi
	rm -f -- "$tmp"
}

# History configuration
HISTFILE=~/.zsh_history
HISTSIZE=10000
SAVEHIST=10000

setopt appendhistory
setopt interactivecomments
